#comments {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;

    .comment-form {
        margin-top: 2rem;

        & > div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 1rem;

            @media (min-width: $content-max-width) {
                flex-direction: row;

                & > :not(:first-child) {
                    margin-left: 0.5rem;
                }
            }
        }

        .author-details input {
            flex-grow: 1;
        }

        textarea {
            display: block;
            flex-grow: 1;
        }
    }

    .comment {
        display: flex;
        margin: 2rem 0 0 0;
        clear: both;

        .avatar {
            flex-shrink: 0;
            margin-right: 1rem;

            img, svg {
                width: 2em;
                height: 2rem;
                border-radius: 0.25em;

                @media (min-width: $content-max-width) {
                    width: 2.5em;
                    height: 2.5rem;
                }
            }
        }

        .text-wrapper {
            flex-grow: 1;

            .author {
                color: $color-amber;
                font-weight: bold;
            }

            .comment-date {
                color: gray;
            }
        }

        .comment-actions {
            display: flex;
            color: gray;

            & > * {
                margin-right: 1rem;
            }

            a {
                color: inherit;
            }
        }
    }
}
