@mixin define-font($family, $prefix, $weight: normal, $style: normal, $local: false) {
    @font-face {
        font: {
            family: $family;
            weight: $weight;
            style: $style;
            display: swap;
        }
        @if $local {
            src: local($local), url("/assets/fonts/#{$prefix}.woff") format("woff");
        } @else {
            src: url("/assets/fonts/#{$prefix}.woff") format("woff");
        }
    }
}

@include define-font("Chakra Petch", "chakrapetch-medium");
@include define-font("Chakra Petch", "chakrapetch-medium-italic", normal, italic);
@include define-font("Chakra Petch", "chakrapetch-bold", bold);
@include define-font("Chakra Petch", "chakrapetch-bold-italic", bold, italic);

@include define-font("Hermit", "hermit-regular");
@include define-font("Hermit", "hermit-italic", normal, italic);
@include define-font("Hermit", "hermit-bold", bold);
@include define-font("Hermit", "hermit-bold-italic", bold, italic);

@include define-font("Furore", "furore-regular");

$font-text: "Chakra Petch", "Calibri", sans-serif;
$font-mono: "Hermit", "Consolas", monospace;
$font-display: "Furore", "Chakra Petch", sans-serif;
