a, button, input, textarea {
    &:focus {
        outline: 2px dashed $color-white;
        outline-offset: 2px;
    }

    &:active {
        filter: brightness(1.25);
    }
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
    --button-color: #{$color-white};

    @include transition;
    @include border(var(--button-color));

    display: inline-block;
    position: relative;
    cursor: pointer;
    appearance: none;
    padding: 0 1em;
    line-height: 2;
    background: {
        color: transparent;
        image: linear-gradient(to right, var(--button-color), var(--button-color));
        repeat: no-repeat;
        size: 0px 100%;
        position: 0 0;
    }

    color: var(--button-color);
    font: {
        size: 0.875em;
        family: $font-display;
        weight: bold;
    }
    text-align: center;
    text-transform: uppercase;

    &:hover, &:focus {
        background-size: 100% 100%;
        color: $color-black;
    }
}

input[type="submit"] {
    --button-color: #{$color-secondary};
}

input[type="text"], input[type="email"], input[type="search"], textarea, [contenteditable] {
    @include border($color-white);

    max-width: 100%;
    padding: 0.5em;
    background-color: transparent;
    color: inherit;
    font: {
        size: inherit;
        family: inherit;
    }
    transition: background-color $default-transition-duration ease;

    &::placeholder, &.placeholder {
        opacity: 0.5;
    }

    &:focus {
        background-color: fade-out($color-white, 0.9);
    }
}

.progress {
    display: block;
    height: 1.5rem;

    @include border($color-white);

    background: {
        image: linear-gradient(to right, $color-white, $color-white);
        size: 3rem 100%;
        repeat: no-repeat;
    }

    animation: progress 3s ease infinite;

    @keyframes progress {
        from, to {
            background-position: left top;
        }
        50% {
            background-position: right top;
        }
    }
}

.loading-modal {
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    margin: 0 auto;
    max-width: 32rem;
    padding: 2rem;

    @include border($color-white);
    background-color: rgba(0, 0, 0, 0.6);

    &::before {
        content: "Loading...";

        font-size: 2rem;
        @include display-font;

        animation: loading 3s linear infinite;
    }

    @keyframes loading {
        from, to {
            content: "Loading";
        }
        25% {
            content: "Loading.";
        }
        50% {
            content: "Loading..";
        }
        75% {
            content: "Loading...";
        }
    }
}

.loadable {
    position: relative;
    min-height: 10rem;

    &.loading {
        pointer-events: none;

        & > .loadable-inner {
            filter: saturate(0) blur(1px);
        }
    }
}
