button, input[type="button"], input[type="submit"], input[type="reset"], .button {
    --button-color: #{$color-white};

    @include transition;
    @include border(var(--button-color));

    display: inline-block;
    position: relative;
    cursor: pointer;
    appearance: none;
    padding: 0 1em;
    line-height: 2;
    background: {
        color: transparent;
        image: linear-gradient(to right, var(--button-color), var(--button-color));
        repeat: no-repeat;
        size: 0px 100%;
        position: 0 0;
    }

    color: var(--button-color);
    font: {
        size: 0.875rem;
        family: $font-display;
        weight: bold;
    }
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background-size: 100% 100%;
        color: $color-black;
    }
}

input[type="submit"] {
    --button-color: #{$color-secondary};
}

input[type="text"], input[type="email"], input[type="search"], textarea, [contenteditable] {
    @include border($color-white);

    max-width: 100%;
    padding: 0.5em 1em;
    background-color: transparent;
    color: inherit;
    font: {
        size: inherit;
        family: inherit;
    }

    &::placeholder, &.placeholder {
        opacity: 0.5;
    }

    &:focus {
        // background-color: $color-white;
        // color: black;
    }
}
