form {
    position: relative;

    &.htmx-request {
        & > div {
            filter: saturate(0) blur(1px);
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-image: radial-gradient(4rem at center, transparent 39%, white 40%, white 49%, transparent 50%);
            animation: breathe 3s ease infinite;
            transform: scale(1);
        }
    }

    @keyframes breathe {
        from, to {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
    }
}

%control {
    @include transition;

    padding: 0.125em 1em;
    border-radius: 1em;
    border-style: solid;
    font-family: inherit;
}

button, input[type="button"], input[type="submit"], input[type="reset"], .button {
    @extend %control;

    background: $color-purple;
    background: linear-gradient(
        150deg,
        $color-pink,
        $color-purple
    );

    border-width: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: $color-black;

    box-shadow: 0 0 2rem fade-out($color-purple, 0.75);

    &:hover {
        box-shadow: 0 0 2rem fade-out($color-pink, 0.25);
        z-index: 2;
    }
}

input[type="text"], input[type="email"], input[type="search"], textarea, [contenteditable] {
    @extend %control;

    max-width: 100%;
    color: inherit;
    background-color: $color-darken;
    border-width: 0.1em;
    border-color: black;

    &::placeholder, &.placeholder {
        opacity: 1;
        color: fade-out($color-light-gray, 0.5);
    }
}
