@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

html {
    // Make sure our background can extend at least to the edge of the viewport.
    min-height: 100%;
}

body {
    margin: 0;

    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    main, footer {
        @include container;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
}

#bio {
    margin-top: 2rem;
    display: flex;
    font-size: 1rem;

    .bio-image {
        margin: 1rem 1rem 0 0;
        flex-shrink: 0;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 0.25rem;
        }
    }
}

[float="right"] {
    float: right;
    margin: 1rem 0 1rem 1rem;
}
