.mermaid-chart {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background: $color-darken;
    border: 1px solid black;

    & > svg {
        display: block;
        margin: 0 auto;

        .node > rect {
            fill: lighten($color-pink, 25%) !important;
            stroke: $color-purple !important;
        }

        .label {
            color: black !important;
        }
    }
}
