body {
    line-height: 1.625;
    color: $color-white;
    font-family: $font-text;
}

main {
    font-size: 1.125rem;

    @media (max-width: 640px) {
        font-size: 1rem;
    }
}

blockquote, .copyright {
    font-style: italic;
}

h1, h2 {
    font: {
        family: $font-display;
        weight: bold;
    }
    text-transform: uppercase;
}

h1 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.25;
    color: $color-secondary;
    text-shadow: 0 0 1px $color-secondary, 0 0 1em fade-out($color-secondary, 0.5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 480px) {
        font-size: 2rem;
    }

    &:after {
        content: "_";
        animation: 1s blink linear infinite;
    }

    @keyframes blink {
        from, 20%, 90%, to {
            opacity: 0;
        }
        30%, 60% {
            opacity: 1;
        }
    }
}

h2 {
    font-size: 1.25rem;
    text-shadow: 0 0 1px currentColor;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 4px solid black;
    color: darken($color-white, 20%);
}

hr {
    margin: 2rem 0;
    height: 8px;
    border: {
        style: solid;
        width: 2px 0;
        color: $color-primary;
    }
    filter: blur(1px);
}

a {
    @include transition;

    cursor: pointer;
    background: {
        image: linear-gradient(to top, currentColor 2px, transparent 2px);
        repeat: no-repeat;
        size: 0px 100%;
    }
    color: $color-primary;
    text-decoration: none;

    &:hover {
        background-size: 100% 100%;
    }
}

mark {
    background: lighten($color-blue, 5%);
}

ins {
    background-color: #ff9;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.postmeta {
    margin: 0;
    font-size: 0.75em;
}

.center {
    text-align: center;
}

.tag {
    display: inline-block;
    margin-left: 0.25em;
}

pre, code {
    font-family: $font-mono;
}

code, .tag {
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
    background-color: $color-darken !important;
}

code {
    font-size: 0.75em;
}

pre > code {
    line-height: 1.5;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
}

.icon {
    color: inherit;
    text-decoration: none;
    border: none;

    svg {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.25rem 0.5rem;
        fill: currentColor;
        transition: all 0.2s ease;
    }

    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
