body {
    line-height: 1.625;
    color: $color-white;
    font-family: $font-text;
}

main {
    font-size: 1.125rem;

    @media (max-width: 640px) {
        font-size: 1rem;
    }
}

blockquote, .copyright {
    font-style: italic;
}

h1, h2 {
    @include display-font;
}

h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.25;

    padding: 4rem 1rem 1rem 1rem;
    color: white;
    border-radius: 2px;

    background: {
        color: $color-primary;
        image: url("/assets/images/nebula-amber.jpg");
        size: cover;
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 480px) {
        font-size: 2rem;
    }

    @media (min-width: 700px) {
        font-size: 1.75rem;
    }
}

h2 {
    margin: 2rem 0;
    font-size: 1.25rem;
    text-shadow: 0 0 1px currentColor;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-left: 4px solid black;
    color: darken($color-white, 20%);
}

hr {
    display: block;
    height: unset;
    border: none;
    text-align: center;

    &::before {
        content: "//\\\\\\\\// /\\\\/\\/// /\\\\\\//\\/ //\\\\\\\\\\/";
        font-size: 1rem;
        font-family: $font-display;
        color: $color-primary;
    }
}

a {
    @include transition;

    cursor: pointer;
    padding-bottom: 0.125em; // underline clear descenders
    background: {
        image: linear-gradient(to top, currentColor 0.125em, transparent 0.125em);
        repeat: no-repeat;
        size: 0px 100%;
    }
    color: $color-primary;
    text-decoration: none;

    &:hover {
        background-size: 100% 100%;
    }
}

big {
    padding-right: 0.25rem;
    line-height: 1rem;
    font-size: 2em;
    font-weight: bold;
    color: $color-primary;
}

mark {
    background: lighten($color-blue, 5%);
}

ins {
    background-color: #ff9;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

ul {
    list-style-type: square;
}

.postmeta {
    margin: 0;
    font-size: 0.75em;
}

.center {
    text-align: center;
}

.tag {
    display: inline-block;
    margin-left: 0.25em;
}

pre, code {
    font-family: $font-mono;
}

code, .tag {
    padding: 0.125em 0.375em;
    border-radius: 2px;
    background-color: $color-black !important;
}

code {
    font-size: 0.7em;
}

pre > code {
    line-height: 1.5;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
}

.icon {
    color: inherit;
    text-decoration: none;
    border: none;

    svg {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.25rem 0.5rem;
        fill: currentColor;
        transition: all 0.2s ease;
    }

    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
