body {
    background: {
        image:
            url("/assets/images/noise.png"),
            radial-gradient(
                circle at 50% 50vh,
                fade-out($color-white, 0.95),
                transparent
            ),
            linear-gradient(to bottom, fade-out($color-tertiary, 0.8), transparent 32rem);
        color: $color-black;
        position: 0 0, top center, top center;
        repeat: repeat, no-repeat;
    }

    animation: grain 500ms steps(1) infinite;

    ::-moz-selection, ::selection {
        background: fade-out($color-white, 0.5);
    }

    @keyframes grain {
        0% {
            background-position: 0px 0px, top center, top center;
        }
        25% {
            background-position: -20px 0px, top center, top center;
        }
        50% {
            background-position: 20px 20px, top center, top center;
        }
        75% {
            background-position: 0px -20px, top center, top center;
        }
        100% {
            background-position: -20px 20px, top center, top center;
        }
    }
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    background: $color-secondary;
    box-shadow: 0 0 0.5rem $color-secondary;

    figcaption {
        margin: 0.5rem;
    }

    & > img {
        opacity: 0.7;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $image-scan-lines;
    }
}
