// Third-party
@import "https://unpkg.com/sanitize.css";
@import "https://unpkg.com/highlightjs/styles/tomorrow-night.css";

// Layout config
$content-max-width: 52rem;
$sidebar-width: 16rem;

$color-light-gray: hsl(0, 0%, 90%);
$color-amber: hsl(40, 100%, 60%);
$color-amber-dark: hsl(20, 100%, 50%);
$color-teal: hsl(175, 100%, 50%);
$color-pink: hsl(335, 85%, 50%);
$color-purple: hsl(300, 80%, 30%);
$color-purple-dark: hsl(300, 80%, 20%);
$color-black: hsl(0, 0%, 20%);
$color-blue: hsl(207, 80%, 65%);

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);

$image-scan-lines: repeating-linear-gradient(
    transparent 0px,
    transparent 1px,
    hsla(0, 0%, 20%, 0.05) 2px,
    hsla(0, 0%, 20%, 0.05) 3px
);

@mixin container($width: $content-max-width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin transition {
    transition: {
        property: border-color, background-color, color, box-shadow, opacity;
        duration: 0.2s;
        timing-function: ease;
    }
}

@import "fonts";
@import "text";
@import "layout";
@import "nav";
@import "theme";
@import "forms";
@import "mermaid";
@import "comments";
