// Third-party
@import "https://cdn.skypack.dev/-/sanitize.css@v12.0.1-4VhVy9a6SmO3z6S1XzgE/dist=es2020,mode=raw/sanitize.css";
@import "https://cdn.skypack.dev/-/highlight.js@v10.5.0-kKTJ0zlR1haHew9l5lm1/dist=es2020,mode=raw/styles/tomorrow-night.css";

// Layout config
$content-max-width: 52rem;
$sidebar-width: 16rem;

// Define our colors
// $color-white: hsl(36, 32%, 80%);
$color-white: hsl(160, 16%, 80%);
$color-amber: hsl(36, 100%, 62%);
$color-amber-dark: hsl(20, 100%, 50%);
$color-teal: hsl(160, 90%, 50%); // hsl(170, 60%, 50%)
$color-pink: hsl(340, 90%, 60%);
$color-purple: hsl(260, 80%, 40%);
$color-purple-dark: hsl(300, 80%, 20%);
$color-black: hsl(230, 8%, 12%);
$color-blue: hsl(207, 100%, 65%);
$color-gray: hsla(0, 0%, 50%, 0.25);

// Define our palette
$color-primary: $color-amber;
$color-secondary: $color-pink;
$color-tertiary: $color-white;

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);

$default-transition-duration: 200ms;

$image-scan-lines: repeating-linear-gradient(
    transparent 0px,
    transparent 1px,
    hsla(0, 0%, 20%, 0.2) 2px,
    hsla(0, 0%, 20%, 0.2) 3px
);

@mixin border($color: $color-primary) {
    border: {
        width: 2px;
        radius: 2px;
        style: solid;
        color: $color;
    }
    box-shadow: 0 0 0.5rem -0.25rem $color, inset 0 0 0.5rem -0.25rem $color;
}

@mixin container($width: $content-max-width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin transition {
    transition: {
        property: border-color, background-color, background-position, background-size, color, box-shadow, opacity;
        duration: $default-transition-duration;
        timing-function: ease;
    }
}

@import "fonts";
@import "text";
@import "layout";
@import "nav";
@import "theme";
@import "forms";
@import "mermaid";
@import "comments";
