// Third-party
@import "https://unpkg.com/sanitize.css";
@import "https://unpkg.com/highlightjs/styles/tomorrow-night.css";

// Layout config
$content-max-width: 52rem;
$sidebar-width: 16rem;

// Define our colors
$color-white: hsl(32, 40%, 80%);
// $color-white: hsl(105, 15%, 80%);
$color-amber: hsl(32, 100%, 63%);
$color-amber-dark: hsl(20, 100%, 50%);
$color-teal: hsl(170, 90%, 50%); // hsl(170, 60%, 50%)
$color-pink: hsl(335, 85%, 50%);
$color-purple: hsl(300, 80%, 30%);
$color-purple-dark: hsl(300, 80%, 20%);
$color-black: hsl(230, 8%, 12%);
$color-blue: hsl(207, 80%, 65%);

// Define our palette
$color-primary: $color-teal;
$color-secondary: $color-pink;
$color-tertiary: $color-purple;

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);

$image-scan-lines: repeating-linear-gradient(
    transparent 0px,
    transparent 1px,
    hsla(0, 0%, 20%, 0.2) 2px,
    hsla(0, 0%, 20%, 0.2) 3px
);

@mixin border($color: $color-primary) {
    border: {
        width: 2px;
        radius: 2px;
        style: solid;
        color: $color;
    }
    box-shadow: 0 0 0.5rem -0.25rem $color, inset 0 0 0.5rem -0.25rem $color;
}

@mixin container($width: $content-max-width) {
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin transition {
    transition: {
        property: border-color, background-color, background-position, background-size, color, box-shadow, opacity;
        duration: 200ms;
        timing-function: ease;
    }
}

@import "fonts";
@import "text";
@import "layout";
@import "nav";
@import "theme";
@import "forms";
@import "mermaid";
@import "comments";
@import "scanlines";
