@import "https://fonts.googleapis.com/css?family=Audiowide|Source+Code+Pro|Source+Sans+Pro&display=swap";

body {
    font-family: "Source Sans Pro", "Calibri", sans-serif;
}

h1, h2 {
    font-family: "Audiowide", sans-serif;
}

pre, code {
    font-family: "Source Code Pro", "Consolas", monospace;
}
