nav {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    flex-wrap: wrap;
    justify-content: flex-end;

    & > a {
        border: none;
        display: flex;
        align-items: center;
        margin: 0 1rem;
        font-size: 1.25em;
        color: $color-black;
        opacity: 0.75;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            opacity: 1;
            text-shadow: none;
        }
    }

    #logo {
        display: block;
        height: 2rem;

        svg {
            display: block;
            height: 100%;
        }
    }
}
