.profile {
    display: block;
    position: relative;
    float: right;
    margin: 0 1em 0 1em;
    padding: 0.5em;
    text-align: center;
    border-radius: 0.5em;
    background: url("/images/cream_dust.png") hsl(0, 0%, 90%);
    border: 0.125em solid hsl(0, 0%, 85%);

    span {
        display: block;
        margin: 1em 0;
    }

    .photo {
        display: block;
        position: relative;
        right: 0;
        left: 0;
        width: 18em;
        border-radius: 0.25em;
    }

    @media screen and (max-width: $screen-small) {
        float: none;
        margin: 0;

        .photo {
            width: 100%;
        }
    }
}