@mixin font-face($name, $url, $weight: null, $italic: null) {
    @font-face {
        font-family: $name;
        @if $weight {font-weight: $weight;}
        @if $italic {font-style: italic;}
        src: url("#{$url}.eot?") format("embedded-opentype"), url("#{$url}.woff") format("woff"), url("#{$url}.svg") format("svg"), url("#{$url}.ttf") format("truetype");
    }
}


/* * * * * * * * * * * *
 * fonts
 */
/* source sans */
@include font-face("Source Sans Pro", "/fonts/sourcesanspro-regular");
@include font-face("Source Sans Pro", "/fonts/sourcesanspro-italic", $italic: true);
@include font-face("Source Sans Pro", "/fonts/sourcesanspro-bold", $weight: bold);
@include font-face("Source Sans Pro", "/fonts/sourcesanspro-bolditalic", $weight: bold, $italic: true);

/* league gothic */
@include font-face("League Gothic", "/fonts/leaguegothic-regular");
@include font-face("League Gothic", "/fonts/leaguegothic-italic", $italic: true);

/* josefin slab */
@include font-face("Josefin Slab", "/fonts/josefinslab-regular");
@include font-face("Josefin Slab", "/fonts/josefinslab-bold", $weight: bold);

/* rochester */
@include font-face("Rochester", "/fonts/rochester-regular");

/* source code */
@include font-face("Source Code Pro", "/fonts/sourcecodepro-regular");
@include font-face("Source Code Pro", "/fonts/sourcecodepro-bold", $weight: bold);

/* chunkfive */
@include font-face("ChunkFive", "/fonts/chunkfive");

/* nymphette */
@include font-face("Nymphette", "/fonts/nymphette");

$font-body: "Source Sans Pro", "Calibri", sans-serif;
$font-heading: "League Gothic", "Arial Black", sans-serif;
$font-monospace: "Source Code Pro", "Consolas", monospace;


/* * * * * * * * * * * *
 * selection
 */
::selection, *::selection {
    background-color: lighten($color-highlight, 15%);
}
::-moz-selection, *::-moz-selection {
    background-color: lighten($color-highlight, 15%);
}


/* * * * * * * * * * * *
 * global
 */
body, input, button {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
.page {
    font-family: $font-body;
}


/* * * * * * * * * * * *
 * block elements
 */
p, ul, ol, blockquote {
    display: block;
    margin: 1.5em 0;
    line-height: 1.5em;
    direction: ltr;
    text-align: left;
    font-size: 1.125em;
    font-weight: normal;
}

ul, ol {
    margin: 1.5em 0 1.5em 2em;

    li {
        margin-bottom: 0.5em;
        line-height: 1.25em;
    }
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

blockquote {
    position: relative;
    margin: 1.5em 3em;
    font-size: 1.25em;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: -0.5em;
        font-size: 4em;
        vertical-align: middle;
        opacity: 0.2;
        content: open-quote;
    }
}


/* * * * * * * * * * * *
 * headings
 */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0.5em 0;
    line-height: 1.25em;
    font-family: $font-heading;
    font-weight: normal;
}

h1 {
    font-size: 4em; /* 64/16 */
}

h2 {
    font-size: 3em; /* 48/16 */
}

h3 {
    font-size: 2.25em; /* 36/16 */
}

h4 {
    font-size: 1.5em; /* 24/16 */
}

h5 {
    font-size: 1.3125em; /* 21/16 */
}

h6 {
    font-size: 1.125em; /* 18/16 */
}


/* * * * * * * * * * * *
 * inline elements
 */
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

.big {
    font-style: normal;
    font-size: 1.5em; /* 24/16 */

    &.really-big {
        font-size: 4em; /* 96/16 */
    }
}

small {
    font-size: 0.75em;
}

a {
    color: $color-highlight;
    text-decoration: none;
    @include transition(color, 0.2s);

    &:hover, &:focus {
        color: lighten($color-highlight, 10%);
        text-decoration: underline;
    }
}

mark {
    background-color: lighten($color-highlight, 5%);
}
