.button {
    display: inline-block;
    padding: 0.5em 0.75em;
    @include rounded;
    text-align: center;
    line-height: normal;
    font-weight: bold;
    background-color: hsla(0, 0%, 0%, 0.1);

    &:hover, &:focus {
        color: $color-white;
        background-color: $color-jade;
    }
}

.top-link {
    @include position(fixed, null 0 0 null);
    margin: 1rem;
    font-size: 1.25em;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    @include respond-to(medium) {
        display: none;
    }
}
