.button {
    display: inline-block;
    padding: 0.5em 1em;
    @include rounded;
    text-align: center;
    line-height: normal;
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: hsla(0, 0%, 0%, 0.1);

    &:hover, &:focus {
        color: $color-white;
        background-color: $color-jade;
    }
}

.top-link {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    font-size: 1.25em;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    @include respond-to(medium) {
        display: none;
    }
}
