code {
    @include theme-media-box;
    font-family: $font-monospace;
    font-size: 0.75em;
}

pre > code {
    line-height: 1.25em;
    white-space: pre-wrap;
}

.gist {
    margin-bottom: 2rem;
}
