.comments {
    margin-top: 2em;
}

hr {
    margin: 2em 0;
}

.center {
    text-align: center;
}

article {
    margin-bottom: 3rem;
}

.tag {
    @include theme-media-box;
    display: inline-block;
    white-space: nowrap;
    margin-left: 1em;
    padding: 0.25em 0.5em;
    line-height: normal;

    &::before {
        display: block;
        position: absolute;
        content: "";
        background-color: transparent;
        border-top: 0.75em solid transparent;
        border-bottom: 0.75em solid transparent;
        border-right: 0.75em solid $color-white-smoke;
        margin-left: -1.125em;
        margin-top: -0.25em;
    }
}
