.page-footer {
    padding-bottom: 1rem;
    background-color: $color-midnight;
    color: $color-white;
}

.page-footer p {
    line-height: 1.125em;
    text-align: center;
    margin-bottom: 0.75rem;

    @include respond-to(medium) {
        text-align: left;
    }
}
