.page-header {
    background-color: $color-midnight;
    color: $color-white;

    @include respond-to(large) {
        font-size: 1.125em;
    }
}

@include with-layout(auto 3 .0625 fluid) {
    .page-header nav {
        @include container;

        a {
            @include span(1);

            &:last-child {
                @include span(last 1);
            }
        }

        @include respond-to(large) {
            a, a:last-child {
                display: block;
                width: 100%;
                margin-bottom: 1em;
            }
        }
    }
}

.site-logo {
    display: inline-block;
    font-family: $font-heading;
    font-weight: bold;

    img {
        float: left;
        height: 5em;
    }

    .site-logo-text {
        display: block;
        float: right;
        line-height: 3.33em;
        margin: 0 0 0 0.5em;
        font-size: 1.5em;
        color: $color-white;
    }

    @include respond-to(medium) {
        img, .site-logo-text {
            float: none;
        }

        .site-logo-text {
            margin: 0.5em 0 0 0;
            line-height: normal;
        }
    }

    &:hover {
        img {
            @include animation(kodana-click 1.5s ease-out 1);
        }
    }
}

.bio-text {
    line-height: normal;
    margin-bottom: 1.5rem;
}

@include keyframes(kodana-click) {
    0%   { transform: rotate(0deg); }
    55%  { transform: rotate(85deg); }
    62%  { transform: rotate(85deg); }
    65%  { transform: rotate(-10deg); }
    68%  { transform: rotate(65deg); }
    71%  { transform: rotate(-8deg); }
    74%  { transform: rotate(45deg); }
    77%  { transform: rotate(-6deg); }
    79%  { transform: rotate(30deg); }
    82%  { transform: rotate(-4deg); }
    85%  { transform: rotate(20deg); }
    89%  { transform: rotate(-2deg); }
    94%  { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}
