.icon {
    text-decoration: none !important;

    svg {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        fill: #ffffff;
    }

    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}
