@mixin icon($icon-name) {
    $icon-sprite-size: 2.5rem;

    display: inline-block;
    width: $icon-sprite-size;
    height: $icon-sprite-size;
    background: {
        image: url("/assets/images/icon-#{$icon-name}.png");
        size: $icon-sprite-size;
        position: center center;
    }
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

/**
 * Define some icons by specifying their position in the sprite sheet.
 */
.icon-twitter {
    @include icon(twitter);
}
.icon-github {
    @include icon(github);
}
.icon-rss {
    @include icon(rss);
}
