main img, main figure {
    display: block;
    position: relative;
    max-width: 100%;
}

main :not(figure) > :not(figure) > img, main figure {
    @include rounded;
    overflow: hidden;
    margin: 0 auto 2em auto;
    border: 0.25em solid $color-white-smoke;
}

figure > figcaption {
    padding: 1em;
    text-align: center;
    font-style: italic;
    color: $color-midnight;
    background-color: $color-white-smoke;
}

#portfolio-content {
    max-width: none;
}

.portfolio {
    @include container;
    max-width: none;

    figure {
        figcaption {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            position: absolute;
            padding: 1em;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 1.5rem;
            background-color: transparentize($color-white-smoke, 0.2);

            opacity: 0;
            @include transition(opacity 0.2s ease);
        }

        &:hover > figcaption {
            opacity: 1;
        }

        @include gallery(6);
        margin-bottom: 2em;

        @media (max-width: 76rem) {
            @include gallery(12);
            float: none;
        }
    }
}
