.layout-header {
    @include layout-box;
    @include no-collapse;

    background-color: $color-midnight;
    color: $color-white;
}

.layout-nav {
    $spacing: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
        display: block;
        flex-grow: 1;

        &:not(:first-child) {
            margin-left: $spacing / 2;
        }
    }

    @include respond-to(large) {
        flex-direction: column;

        & > :not(:first-child) {
            margin-top: $spacing;
            margin-left: 0 !important;
        }
    }
}

.content {
    @include layout-box;

    max-width: $max-width;
    margin: 2rem auto;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.125em;

    img {
        max-width: 100%;
    }
}

.layout-footer {
    @include layout-box;
    @include no-collapse;

    background-color: $color-midnight;
    color: $color-white;

    p {
        font-size: 0.9em;
        text-align: center;
    }
}

@include respond-to(medium) {
    .layout-header, .layout-footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .layout-header {
        top: 0;
        width: 20rem;
    }

    main {
        margin-left: 20rem;
    }

    .layout-footer {
        width: 20rem;
        padding-top: 0;
    }
}
