$susy: (
  container: 64rem,
  columns: 12,
  gutters: .5
);

/**
 * Set default viewport settings.
 */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@include global-box-sizing(border-box);

/**
 * Set user-preferred font size.
 */
html, body {
    height: 100%;
}

main, .page-header, .page-footer {
    @include layout-box;
}

.content {
    @include container;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

@include respond-to(medium) {
    .page-header {
        @include position(fixed, 0 null 0 0);
        width: 20rem;
    }

    main {
        margin-left: 20rem;
    }

    .page-footer {
        @include position(fixed, null null 0 0);
        width: 20rem;
        padding-top: 0;
    }
}
