/* source sans */
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-regular");
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-italic", $style: italic);
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-bold", $weight: bold);
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-bolditalic", $weight: bold, $style: italic);

/* josefin slab */
@include font-face("Josefin Slab", "/assets/fonts/josefinslab-regular");
@include font-face("Josefin Slab", "/assets/fonts/josefinslab-bold", $weight: bold);

/* source code */
@include font-face("Source Code Pro", "/assets/fonts/sourcecodepro-regular");
@include font-face("Source Code Pro", "/assets/fonts/sourcecodepro-bold", $weight: bold);


/**
 * Nicer font rendering in webkit
 */
html, input, button {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-body;
}

ul, ol {
    margin: 1.5em 0;

    li {
        margin-bottom: 0.5em;
        line-height: 1.25em;
    }
}

blockquote {
    color: #555;
    padding-left: 1rem;
    border-left: 4px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-family: $font-heading;
    font-size: 3em;
    line-height: $line-height * 0.75;

    @include respond-to(small) {
        font-size: 2em;
    }
}
h2 {
    font-size: 1.5em;

    @include respond-to(small) {
        font-size: 1.25em;
    }
}
h3 {
    font-size: 1.25em;

    @include respond-to(small) {
        font-size: 1.125em;
    }
}
h4 {
    font-size: 1.125em;

    @include respond-to(small) {
        font-size: 1.0625em;
    }
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9125em;
}

/**
 * Give hyperlinks some class.
 */
a {
    color: $color-jade;
    cursor: pointer;
    transition: background-color 0.2s ease,
    color 0.2s ease,
    opacity 0.2s ease,
    text-shadow 0.2s ease;

    &:hover, &:focus {
        color: lighten($color-jade, 10%);
    }

    &.no-underline {
        text-decoration: none;
    }

    &:not(.no-underline) {
        text-decoration: underline;
    }
}

mark {
    background: lighten($color-jade, 5%);
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.postmeta, .category {
    margin: 0;
}

.copyright {
    font-style: italic;
}
