/* * * * * * * * * * * *
 * fonts
 */
/* source sans */
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-regular");
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-italic", $style: italic);
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-bold", $weight: bold);
@include font-face("Source Sans Pro", "/assets/fonts/sourcesanspro-bolditalic", $weight: bold, $style: italic);

/* josefin slab */
@include font-face("Josefin Slab", "/assets/fonts/josefinslab-regular");
@include font-face("Josefin Slab", "/assets/fonts/josefinslab-bold", $weight: bold);

/* source code */
@include font-face("Source Code Pro", "/assets/fonts/sourcecodepro-regular");
@include font-face("Source Code Pro", "/assets/fonts/sourcecodepro-bold", $weight: bold);

$font-body: "Source Sans Pro", "Calibri", sans-serif;
$font-heading: "Josefin Slab", serif;
$font-monospace: "Source Code Pro", "Consolas", monospace;


/* * * * * * * * * * * *
 * selection
 */
::selection, *::selection {
    background-color: lighten($color-jade, 15%);
}
::-moz-selection, *::-moz-selection {
    background-color: lighten($color-jade, 15%);
}


/**
 * Nicer font rendering in webkit
 */
html, input, button {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-body;
}

@function shadow-gen($color) {
    $shadows: ();
    @for $i from 1 through 5 {
        $shadows: $shadows, (.03em * $i) 0 $color, (-.03em * $i) 0 $color;
    }
    @return $shadows;
}

/**
 * A really fancy underline.
 */
@mixin fancy-underline($background-color, $color, $height: 0.0625em) {
    :not(.no-underline):not(.sb-nav) > &:not(.no-underline):not(.sb-nav) {
        // add clip shadow
        text-shadow: shadow-gen($background-color);

        // draw the underline using an image
        background-image: linear-gradient($color, $color);
        background-size: 1px $height;
        background-repeat: repeat-x;
        background-position: 0% 85%;

        &::selection {
            text-shadow: shadow-gen(lighten($color-jade, 15%));
        }
        &::-moz-selection {
            text-shadow: shadow-gen(lighten($color-jade, 15%));
        }
    }
}

/**
 * A more controlled underline, though not as fancy as the one above.
 */
@mixin underline($color: currentColor, $height: 0.0625em) {
    &:not(.no-underline) {
        background: {
            image: linear-gradient($color, $color);
            size: 1px $height;
            position: 0% 85%;
            repeat: repeat-x;
        }
    }
}


/**
 * block elements
 */
p, ul, ol, blockquote, pre {
    display: block;
    margin-bottom: 2rem;
    line-height: 1.75em;
    direction: ltr;
    text-align: left;
    font-weight: normal;

    &:last-child {
        margin-bottom: 0;
    }
}

ul, ol {
    margin: 1.5em 0 1.5em 2em;

    li {
        margin-bottom: 0.5em;
        line-height: 1.25em;
    }
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

blockquote {
    position: relative;
    margin: 1.5em 3em;
    font-size: 1.25em;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: -0.5em;
        font-size: 4em;
        vertical-align: middle;
        opacity: 0.2;
        content: open-quote;
    }
}


/* * * * * * * * * * * *
 * headings
 */
h1, h2, h3, h4, h5, h6 {
    display: block;
    line-height: 1.25em;
    font-weight: bold;
    margin: 0 0 1rem 0;
}
h1 {
    font-family: $font-heading;
    font-size: 2.75em; /* 64/16 */
}
h2 {
    font-size: 1.5em; /* 24/16 */
}
h3 {
    font-size: 1.25em; /* 20/16 */
}
h4 {
    font-size: 1.125em; /* 21/16 */
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.9125em; /* 14/16 */
}


/* * * * * * * * * * * *
 * inline elements
 */

.big {
    font-style: normal;
    font-size: 1.5em; /* 24/16 */

    &.really-big {
        font-size: 4em; /* 96/16 */
    }
}

small {
    font-size: 0.8em;
}

/**
 * Give hyperlinks some class.
 */
a {
    color: $color-jade;
    text-decoration: none;
    @include transition(background-color 0.2s ease,
                        color 0.2s ease,
                        opacity 0.2s ease,
                        text-shadow 0.2s ease);

    &:hover, &:focus {
        color: lighten($color-jade, 10%);
    }

    &:not(.button) {
        @include underline;
    }
}

mark {
    background: lighten($color-jade, 5%);
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
