@{
    Layout = "Layout";
    ViewData["Title"] = "About";
}

<h1>About Me</h1>

<figure float="right">
    <img src="https://s.gravatar.com/avatar/7f82ad09846ff69ecf889c51c933a3ee?s=160">
</figure>

<p>I'm a software engineer based in Wisconsin, United States. I currently work at <a href="http://www.widen.com">Widen Enterprises</a> building large-scale, distributed SaaS applications for a living. I have a bachelor's degree in Computer Science earned from the <a href="http://uww.edu">University of Wisconsin-Whitewater</a> in the spring of 2016.</p>

<p>As a knowledge addict, I am never satisfied with my current knowledge level and I'm always working on learning something new. Currently I have expertise in web design and development, shell scripting, networking, code architecture, text encodings, multithreading and concurrency, and asynchronous I/O. I mostly write code in Rust, Java, C#, C/C++, and JavaScript.</p>

<p>In my spare time, I enjoy working on personal and open source projects, playing video games, playing music, and reading. Occasionally I post articles here that range from short thoughts on life to results of some technical research or discovery I've done.</p>

<ul>
    <li><a title="Email" href="mailto:me@stephencoakley.com">Email</a></li>
    <li><a title="Twitter" href="https://twitter.com/sagebind">Twitter</a></li>
    <li><a title="GitHub" href="https://github.com/sagebind">GitHub</a></li>
    <li><a title="Feed" href="/feed">Feed</a></li>
</ul>
