@model Article
@inject ApiTokenService apiTokenService

<aside id="comments" data-article-slug="@Model.Slug" data-api-token="@Html.Raw(apiTokenService.Generate())">
    <h2>Comments</h2>

    <noscript>
        <p>JavaScript must be enabled to comment.</p>
    </noscript>
</aside>
