@model Article
@inject CommentStore commentStore

<aside id="comments">
    <h2>Comments</h2>

    <p>Let me know what you think in the comments below. Remember to keep it civil!</p>

    @await Html.PartialAsync("CommentForm", new CommentForm
    {
        ArticleSlug = Model.Slug,
    })

    @await foreach (var comment in commentStore.ForSlug(Model.Slug))
    {
        @await Html.PartialAsync("Comment", new CommentView
        {
            Comment = comment,
        })
    }
</aside>
