@model Article

<article>
    <h2><a href="/@Model.Slug">@Model.Title</a></h2>

    <small>
        @await Html.PartialAsync("DateTimeLabel", Model.Date)

        <span class="tags">
            @foreach (var tag in Model.Tags)
            {
                <a class="tag" href="/tag/@tag">@tag</a>
            }
        </span>

        <br>
        <span>@Model.EstimatedReadingTime.Minutes min read</span>
    </small>

    <p>@Html.Raw(Model.Summarize())</p>
</article>
