<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        @if (ViewData.ContainsKey("Title"))
        {
            <title>@Html.Raw(ViewData["Title"]) - Stephen Coakley</title>
        }
        else
        {
            <title>Stephen Coakley</title>
        }
        <meta name="description" content="I'm a software developer based in Wisconsin">
        <meta name="keywords" content="Stephen Coakley, programming, web development, apps, php">
        <meta name="author" content="Stephen Coakley">
        <link href="http://feeds.feedburner.com/stephencoakley" type="application/atom+xml" rel="alternate" title="Blog Feed">

        <link rel="icon" type="image/png" href="/assets/images/favicon.128.png" sizes="128x128">
        <link rel="icon" type="image/png" href="/assets/images/favicon.64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="/assets/images/favicon.48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/assets/images/favicon.32.png" sizes="32x32">
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="icon" type="image/png" href="/assets/images/favicon.16.png" sizes="16x16">

        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" href="/assets/css/style.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NTR|Source+Code+Pro|Source+Sans+Pro">

        <script src="/assets/js/highlight.pack.js" async defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" async defer></script>
    </head>

    <body>
        <header>
            <nav>
                <a id="logo" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.953 6.085">
                        <g>
                            <path d="M.234 4.763l.212-1.059H3.62l.053-.264H.499L1.08.53C1.187 0 1.187 0 1.716 0H5.42c.529 0 .529 0 .423.53l-.211 1.057H2.457l-.053.265h3.175l-.582 2.91c-.106.53-.106.53-.635.53H.657c-.529 0-.529 0-.423-.53zM6.61 5.292h-.926c-.529 0-.529 0-.423-.53L6.108.53C6.214 0 6.214 0 6.743 0h3.704c.53 0 .53 0 .423.53l-.846 4.233c-.106.529-.106.529-.635.529h-.926l.74-3.704H8.94l-.741 3.704H6.875l.74-3.704h-.264zM15.897.53l-.211 1.057H12.51l-.424 2.117h3.175l-.211 1.059c-.106.529-.106.529-.635.529h-3.704c-.53 0-.53 0-.424-.53L11.135.53C11.24 0 11.24 0 11.77 0h3.704c.53 0 .53 0 .423.53z"/>
                            <path d="M.022 5.82c-.053.265-.053.265.477.265h13.758c.53 0 .53 0 .582-.264.053-.265.053-.265-.476-.265H.604c-.529 0-.529 0-.582.265z"/>
                        </g>
                    </svg>
                </a>
                <a class="button" href="/articles">Articles</a>
                <a class="button" href="/stuff">Stuff</a>
                <a class="button" href="/about">About</a>
            </nav>
        </header>

        <aside id="bio">
            <div class="logo">
                <img class="framed" src="https://s.gravatar.com/avatar/4c0d6bf3fb628cc4ccd1d1613f421290?s=160"/>
            </div>

            <div class="bio-text">
                <p>Hi! I'm <strong>Stephen Coakley</strong>, a software engineer and committed Christian. I am passionate about faith, life, systems and web software, gaming, and music.</p>
                <p>Occasionally I write articles here about those things, mostly focused on web development or low-level programming.</p>
            </div>
        </aside>

        <main role="main">
            <div id="content">
                @RenderBody()
            </div>
        </main>

        <footer>
            <p class="center">
                <a class="icon" title="Email" href="mailto:me@stephencoakley.com">
                    <svg viewBox="0 0 32 32">
                        <path d="M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z"></path>
                    </svg>
                </a>
                <a class="icon" title="Twitter" href="https://twitter.com/sagebind">
                    <svg viewBox="0 0 32 32">
                        <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
                    </svg>
                </a>
                <a class="icon" title="GitHub" href="https://github.com/sagebind">
                    <svg viewBox="0 0 32 32">
                        <path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
                    </svg>
                </a>
                <a class="icon" title="Feed" href="http://feeds.feedburner.com/stephencoakley">
                    <svg viewBox="0 0 32 32">
                        <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM8.719 25.975c-1.5 0-2.719-1.206-2.719-2.706 0-1.488 1.219-2.712 2.719-2.712 1.506 0 2.719 1.225 2.719 2.712 0 1.5-1.219 2.706-2.719 2.706zM15.544 26c0-2.556-0.994-4.962-2.794-6.762-1.806-1.806-4.2-2.8-6.75-2.8v-3.912c7.425 0 13.475 6.044 13.475 13.475h-3.931zM22.488 26c0-9.094-7.394-16.5-16.481-16.5v-3.912c11.25 0 20.406 9.162 20.406 20.413h-3.925z"></path>
                    </svg>
                </a>
            </p>

            <p class="center copyright">&copy; 2012-@DateTime.Now.Year Stephen Coakley</p>
        </footer>

        <script>
            addEventListener('load', function () {
                hljs.initHighlighting();

                document.querySelectorAll("time").forEach(function (e) {
                    e.innerText = moment(e.getAttribute("datetime")).fromNow();
                });
            }, false);
        </script>
        <script>var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var a="//analytics.stephencoakley.com/";_paq.push(["setTrackerUrl",a+"piwik.php"]),_paq.push(["setSiteId",1]);var b=document,c=b.createElement("script"),d=b.getElementsByTagName("script")[0];c.type="text/javascript",c.async=!0,c.defer=!0,c.src=a+"piwik.js",d.parentNode.insertBefore(c,d)}();</script>
    </body>
</html>
