@using System.Reflection

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        @if (ViewData.ContainsKey("Title"))
        {
            <title>@Html.Raw(ViewData["Title"]) - Stephen Coakley</title>
        }
        else
        {
            <title>Stephen Coakley</title>
        }
        <meta name="description" content="I'm a software developer based in Wisconsin">
        <meta name="keywords" content="Stephen Coakley, programming, web development, apps, php">
        <meta name="author" content="Stephen Coakley">
        <meta property="version" content="@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion)">
        <link href="/feed" type="application/atom+xml" rel="alternate" title="Blog Feed">

        <link rel="icon" type="image/png" href="/assets/images/favicon.128.png" sizes="128x128">
        <link rel="icon" type="image/png" href="/assets/images/favicon.64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="/assets/images/favicon.48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/assets/images/favicon.32.png" sizes="32x32">
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="icon" type="image/png" href="/assets/images/favicon.16.png" sizes="16x16">

        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" href="/css/main.css?v=@Blog.Startup.GitCommit">

        <script src="/assets/js/highlight.pack.js" async defer></script>
        <script src="https://unpkg.com/htmx.org@0.1.2"></script>
        <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <a id="logo" class="title" href="/">
                    Stephen·Coakley
                    @* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.953 6.085">
                        <path d="M.234 4.763l.212-1.059H3.62l.053-.264H.499L1.08.53C1.187 0 1.187 0 1.716 0H5.42c.529 0 .529 0 .423.53l-.211 1.057H2.457l-.053.265h3.175l-.582 2.91c-.106.53-.106.53-.635.53H.657c-.529 0-.529 0-.423-.53zM6.61 5.292h-.926c-.529 0-.529 0-.423-.53L6.108.53C6.214 0 6.214 0 6.743 0h3.704c.53 0 .53 0 .423.53l-.846 4.233c-.106.529-.106.529-.635.529h-.926l.74-3.704H8.94l-.741 3.704H6.875l.74-3.704h-.264zM15.897.53l-.211 1.057H12.51l-.424 2.117h3.175l-.211 1.059c-.106.529-.106.529-.635.529h-3.704c-.53 0-.53 0-.424-.53L11.135.53C11.24 0 11.24 0 11.77 0h3.704c.53 0 .53 0 .423.53z"/>
                        <path d="M.022 5.82c-.053.265-.053.265.477.265h13.758c.53 0 .53 0 .582-.264.053-.265.053-.265-.476-.265H.604c-.529 0-.529 0-.582.265z"/>
                    </svg> *@
                </a>
                <div style="flex-grow: 1;"></div>
                <div class="links">
                    <a class="button" href="/articles">Articles</a>
                    <a class="button" href="/stuff">Stuff</a>
                    <a class="button" href="/about">About</a>
                </div>
            </nav>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <hr>
            <p class="center copyright">&copy; @DateTime.Now.Year Stephen Coakley</p>
        </footer>

        <script src="/assets/js/index.js"></script>
        <script type="text/javascript">
            var _paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//analytics.cloud.stephencoakley.dev/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//analytics.cloud.stephencoakley.dev/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    </body>
</html>
