@{
    Layout = "Layout";
    ViewData["Title"] = "Selftest";
}

<h1>Selftest</h1>

<p>This page is <em>mostly</em> used to <strong>test</strong> the CSS styles.</p>

<p>
<input type="button" value="Click me!"/>
</p>

<p>
<input type="search" placeholder="Query..."/>
</p>
