@{
    Layout = "Layout";
    ViewData["Title"] = "Stuff";
}

<h1>Stuff</h1>

<h2>Presentations</h2>
<p>A select list of presentations I have created for conferences, demos, talks, and tutorials.</p>

<ul>
    <li><a href="/presentations/rust-workshop">A Rust Adventure</a> - UW-Whitewater 2015</li>
    <li><a href="/presentations/an-introduction-to-sass">An Introduction to Sass</a> - UW-Whitewater 2015</li>
    <li><a href="/presentations/version-aware-word-documents">Version-Aware Word Documents</a> - <a href="http://www.doceng2014.org">DocEng 2014</a></li>
</ul>

<h2>Web design</h2>
<p>A couple of websites that were designed and coded by me.</p>

<ul>
    <li><strong><a href="http://loafseven.com">loafseven.com</a></strong>: The homepage for software group LoafSeven, which makes high-quality, customizable solutions for large food pantry management.</li>
    <li><strong><a href="http://uwwintervarsity.org">uwwintervarsity.org</a></strong>: A website for the <a href="http://www.intervarsity.org">InterVarsity Christian Fellowship</a> chapter at the University of Wisconsin-Whitewater in Whitewater, Wisconsin.</li>
    <li><strong><a href="http://nccquizzing.org">nccquizzing.org</a></strong>: A website for a conference youth program for the Free Methodist Church - USA.</li>
    <li>And this website, of course.</li>
</ul>

<h2>Résumé</h2>
<p>Here is a digital copy of my paper résumé, if you are into that sort of thing: <a href="/content/stephen-coakley-resume.pdf">résumé</a></p>
