{{<layout}}
    {{$title}}This is not the page you are looking for.{{/title}}

    {{$content}}
        <h1>This is not the page you are looking for.</h1>

        <p><img src="/assets/images/yoda.png" style="border: none;" draggable="false"></p>

        <p class="big">Found, the page you requested, was not. Perhaps, try another link at the left you will, hmm? Since came so far, you have, enjoy a random ASCII string, you will.</p>

        <pre><code class="json" style="word-wrap:break-word;">"{{randomStr}}"</code></pre>

        <p>Those darned Insecticons must be eating my hard drives again...</p>
    {{/content}}
{{/layout}}
