{{<layout}}
{{$title}}{{article.title}} - Stephen Coakley{{/title}}

{{$content}}
<div class="content style-default">
    <p><a href="/blog"><i class="fa fa-arrow-left"></i> All Articles</a></p>

    <article>
        <h1>{{article.title}}</h1>

        <p class="postmeta"><small>
            <span class="date"><i class="fa fa-calendar-o"></i> {{article.dateString}}</span>
            <span class="author-by"> by </span>
            <span class="author">{{article.author}}</span>

            {{#article.category}}
            <p class="category">
                Posted under <a href="/category/{{article.category}}">{{article.category}}</a>
            </p>
            {{/article.category}}
        </small></p>

        {{{article.content}}}
    </article>

    <div id="disqus_thread" class="comments"></div>
    <script>
        (function() {
        var d = document, s = d.createElement('script');
        s.src = '//coderstephenblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{{/content}}
{{/layout}}
