{{<layout}}
    {{$title}}{{article.title}} - Stephen Coakley{{/title}}

    {{$content}}
        <article>
            <h1>{{article.title}}</h1>

            <p class="postmeta">
                <small>
                    <span class="date">{{article.date}}</span>
                    <span class="author-by"> by </span>
                    <span class="author">{{article.author}}</span>
                </small>
            </p>
            <p class="category">
                <small>Posted under <a href="/category/{{article.category}}">{{article.category}}</a></small>
            </p>

            {{{article.text}}}
        </article>

        <script data-isso="//comments.stephencoakley.com/" data-isso-require-author="true" data-isso-require-email="true" src="//comments.stephencoakley.com/js/embed.min.js"></script>
        <section id="isso-thread"></section>
    {{/content}}
{{/layout}}
