<article>
    <h2><a href="/{{slug}}">{{title}}</a></h2>

    <small>
        {{date.diffForHumans}} under <a href="/category/{{category}}">{{category}}</a>
    </small>

    <p>{{{summary}}}</p>
</article>
