<article>
    <h2><a href="/{{slug}}">{{title}}</a></h2>

    <small>
        {{dateString}} under <a href="/category/{{category}}">{{category}}</a>
    </small><br/><br/>

    <p>{{{summary}}}...</p>
</article>
