{{<layout}}
    {{$title}}Articles in category &ldquo;{{category}}&rdquo; - Stephen Coakley{{/title}}

    {{$content}}
        <h1>Articles in category &ldquo;{{category}}&rdquo;</h1>

        {{#articles}}
            {{>articleSummary}}
        {{/articles}}
    {{/content}}
{{/layout}}
