<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Stephen Coakley</title>
    <link href="http://stephencoakley.com"/>
    <link href="{{id}}" rel="self"/>
    <subtitle>Software developer and web designer</subtitle>
    <updated>{{updated.toAtomString}}</updated>
    <id>{{id}}</id>
    <author>
        <name>Stephen Coakley</name>
        <email>me@stephencoakley.com</email>
    </author>

    {{#articles}}
    <entry>
        <title>{{title}}</title>
        <link href="http://stephencoakley.com/{{slug}}"/>
        <id>http://stephencoakley.com/{{slug}}</id>
        <author>
            <name>Stephen Coakley</name>
            <email>me@stephencoakley.com</email>
        </author>
        <category term="{{category}}"/>
        <updated>{{date.toAtomString}}</updated>
        <summary type="text">
            {{summary}}
        </summary>
        <content type="html">
            {{text}}
        </content>
    </entry>
    {{/articles}}
</feed>
