<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{$title}}Stephen Coakley{{/title}}
        </title>
        <meta name="description" content="I'm a software developer based in Wisconsin">
        <meta name="keywords" content="Stephen Coakley, programming, web development, apps, php">
        <meta name="author" content="Stephen Coakley">
        <link href="http://feeds.feedburner.com/stephencoakley" type="application/atom+xml" rel="alternate" title="Blog Feed">

        <link rel="icon" type="image/png" href="/assets/images/favicon.128.png" sizes="128x128">
        <link rel="icon" type="image/png" href="/assets/images/favicon.64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="/assets/images/favicon.48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="/assets/images/favicon.32.png" sizes="32x32">
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <link rel="icon" type="image/png" href="/assets/images/favicon.16.png" sizes="16x16">

        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" href="/assets/css/style.css">

        <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.min.js"></script>
        <![endif]-->
        <script src="/assets/js/highlight.pack.js"></script>
    </head>

    <body id="top">
        <header class="layout-header">
            <p class="center">
                <a class="logo no-underline" href="/" rel="home">
                    <img src="/assets/images/logo-white.svg">
                    <span>Stephen Coakley</span>
                </a>
            </p>

            <p class="bio-text">Disciple of Christ and software engineer. I talk about life, software architecture, multithreading, async, and web development.</p>

            <nav class="layout-nav">
                <a class="button" href="/">Index</a>
                <a class="button" href="/articles">Articles</a>
                <a class="button" href="/stuff">Stuff</a>
            </nav>
        </header>

        <main role="main">
            <div class="content">
                {{$content}}{{/content}}
            </div>

            <a class="button top-link" href="#top">Top</a>
        </main>

        <footer class="layout-footer">
            <p class="icons">
                <a class="icon-github no-underline" title="GitHub" href="https://github.com/sagebind"></a>
                <a class="icon-twitter no-underline" title="Twitter" href="https://twitter.com/sagebind"></a>
                <a class="icon-rss no-underline" title="Feed" href="http://feeds.feedburner.com/stephencoakley"></a>
            </p>

            <p>&copy; Stephen Coakley. Code samples are under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>
        </footer>

        <script>addEventListener('load', hljs.initHighlighting, false);</script>
        <script>var _paq=_paq||[];_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var a="//analytics.stephencoakley.com/";_paq.push(["setTrackerUrl",a+"piwik.php"]),_paq.push(["setSiteId",1]);var b=document,c=b.createElement("script"),d=b.getElementsByTagName("script")[0];c.type="text/javascript",c.async=!0,c.defer=!0,c.src=a+"piwik.js",d.parentNode.insertBefore(c,d)}();</script>
    </body>
</html>
