$color-border-dark: hsl(0, 0%, 15%);
$color-border-light: hsl(0, 0%, 80%);
$color-text-light: hsl(0, 0%, 95%);
$color-text-dark: hsl(0, 0%, 5%);
$color-text-faint: hsl(0, 0%, 55%);
$color-accent: #00CC9F;//hsl(11, 82%, 53%);

// new
$color-newspaper: hsl(0, 0%, 83%);      // #D4D4D4, light gray
$color-tundora: hsl(0, 0%, 30%);        // #4D4D4D, dark gray
$color-wineo: hsl(177, 26%, 66%);       // #93BFBD, light teal-gray
$color-old-sky: hsl(156, 18%, 68%);     // #9FBCB0, teal-gray
$color-trout: hsl(212, 8%, 35%);        // #515860, dark blue-gray
$color-serenity: hsl(166, 28%, 49%);    // #5AA090, light blue-green
$color-paradiso: hsl(171, 46%, 35%);    // #308276, deep blue-green
$color-oxford-blue: hsl(212, 20%, 25%); // #525960, dark blue

$color-white:       hsl(0, 0%, 100%);   // #FFFFFF
$color-blue-bark:   hsl(215, 29%, 9%);  // #0F151C
$color-jade:        hsl(144, 35%, 53%); // #5CB17E
$color-white-smoke: hsl(0, 0%, 96%);    // #D4D4D4
