$color-white:       hsl(0, 0%, 100%);   // #FFFFFF
$color-blue-bark:   hsl(215, 29%, 9%);  // #0F151C
$color-jade:        hsl(144, 35%, 53%); // #5CB17E
$color-white-smoke: hsl(0, 0%, 96%);    // #D4D4D4
