@mixin layout-box {
    padding: 2rem;
}

@mixin rounded {
    border-radius: 0.25em;
}

@mixin theme-media-box {
    @include rounded;
    padding: 0.125em 0.3175em;
    background: $color-white-smoke;
}
