pre, code {
    font-family: $font-monospace;
    line-height: 1em;
}

pre[class*="language-"], :not(pre) > code[class*="language-"] {
    display: block;
    position: relative;
    overflow: auto;
    margin: 1em 0;
    padding: 1em 1em 0.5em 1em;

    border-radius: 0.25em;
    background-image: url("/images/zigzag.png");
    box-shadow: inset 0 0 1em #191919;

    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    tab-size: 4;
    hyphens: none;
    counter-reset: linenumber;

    color: $color-text-light;

    /* line numbers */
    &.line-numbers {
        padding-left: 4em;
    }

    .line-numbers-rows {
        display: block;
        position: absolute;
        top: 1em;
        left: 1em;
        padding: 0 0.75em 0 0;
        border-right: 0.125em dashed $color-border-dark;

        span {
            counter-increment: linenumber;

            &:before {
                display: block;
                text-align: right;
                content: counter(linenumber);
            }
        }
    }

    /* colors */
    .token, .punctuation, .variable {
        color: $color-text-light;
    }

    .comment, .prolog, .doctype, .cdata, .line-numbers-rows {
        color: $color-border-light;
    }

    .keyword, .operator, .entity, .atrule, .attr-value {
        color: #f92672;
    }

    .function, .class-name {
        color: #66d9ef;
    }

    .constant, .number, .boolean, .property, .tag, .symbol {
        color: #ae81ff;
    }

    .string, .selector, .attr-name, .builtin {
        color: #a6e22e;
    }

    .package, .namespace {
        color: #fd971f;
    }

    a {
        color: inherit !important;
        text-decoration: underline;
    }

    /* selection */
    &::-moz-selection, ::-moz-selection {
        background-color: #999;
    }

    &::selection, ::selection {
        background-color: #999;
    }
}
