label {
    @extend h5;
}

input, textarea {
    resize: none;
    font-size: 1em;
    font-family: $font-body;
}

input[type="text"], input[type="search"], input[type="email"], input[type="password"], textarea {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em; /* 8/16 */
    border: 0.0675em solid $color-border-light; /* 2/16 */
    color: $color-text-dark;
    @include transition(box-shadow 0.2s ease-out);

    &:focus {
        border-color: $color-highlight;
        box-shadow: 0 0 0.5em $color-highlight;
    }
}

.button {
    display: inline-block;
    min-width: 3em;
    margin: 0 0.125em; /* 2/16 */
    padding: 0.5em 1em 0.25em 1em; /* 10/16 */
    border: {
        top: none;
        right: none;
        bottom: 0.25em solid;
        left: none;
        radius: 0.25em; /* 8/16 */
    }
    box-shadow: 0 0.25em 0.5em -0.25em hsl(0, 0%, 0%);
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
    @include transition(box-shadow 0.2s ease-out);

    &:hover, &:focus {
        box-shadow: 0 0.25em 0.75em -0.25em hsl(0, 0%, 0%);
    }

    &:active {
        box-shadow: 0 0.25em 0.25em -0.25em hsl(0, 0%, 0%);
    }

    &.button-grey {
        $color-button-grey: hsl(0, 0%, 80%);
        background-color: $color-button-grey;
        border-color: darken($color-button-grey, 5%);
        color: $color-text-dark;

        &:hover, &:focus {
            background-color: lighten($color-button-grey, 5%);
            border-color: darken($color-button-grey, 10%);
        }
    }

    &.button-highlight {
        background-color: $color-highlight;
        border-color: darken($color-highlight, 5%);
        color: #eee;

        &:hover, &:focus {
            background-color: lighten($color-highlight, 5%);
            border-color: darken($color-highlight, 10%);
        }
    }
}

.message {
    display: block;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.25em solid;

    &.success {
        background-color: hsl(110, 60%, 70%);
        border-color: hsl(110, 60%, 60%);
    }

    &.error {
        background-color: hsl(0, 60%, 70%);
        border-color: hsl(0, 60%, 60%);
    }
}

/* form layout */
form {
    display: block;
    max-width: 40em;
    margin: 0 auto 2em auto;
    font-size: 1.125em;

    fieldset {
        display: block;
        margin: 2em 0;
    }

    input[type="text"], input[type="search"], input[type="email"], input[type="password"], textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    small {
        padding: 0.5em;
    }

    .form-buttons {
        font-size: 1.25em;
        text-align: center;
        margin-top: 2em;

        .button {
            margin: 0 0.5em;
        }
    }

    .form-note {
        color: $color-text-faint;
    }
}
