.page-header, .page-header-spacer {
    display: block;
    overflow: hidden;
    width: auto;
    height: 4em;

    @media screen and (max-width: 56em) {
        font-size: 0.875em;
    }

    @media screen and (max-width: $screen-small) {
        font-size: 0.75em;
    }
}

.page-header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0.5em 1em;
    background: url("/images/debut_light.png");
    box-shadow: 0 0 0.5em hsl(0, 0%, 20%);

    .container {
        display: table;
        table-layout: auto;
        width: 100%;
        height: 100%;

        .header-item {
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
        }
    }
}

.nav-link {
    text-align: center;
    width: 1px;
    padding: 0 0 0 2em;

    a {
        display: block;
        font-size: 1.75em;
        color: $color-text-dark;
        font-family: $font-heading;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: hsl(0, 0%, 70%) 0 0.0675em 0;
        @include transition(all 0.1s);

        &:hover, &:focus {
            text-decoration: none;
            color: lighten($color-highlight, 5%);
            @include transform(scale(1.2));
        }
    }

    @media screen and (max-width: 56em) {
        padding-left: 1em;
    }

    @media screen and (max-width: $screen-small) {
        width: auto;
    }
}

.site-logo {
    display: inline-block;
    height: 100%;
    padding: 0;
    font-size: 2em;
    text-decoration: none !important;
    background: {
        image: url("/images/favicon.128.png");
        repeat: no-repeat;
        size: 1.5em;
        position: left center;
    }

    .site-logo-text {
        display: block;
        white-space: pre;
        padding: 0.3125em 0 0 1.75em;
        font-family: "Josefin Slab";
        font-weight: bold;
        text-transform: uppercase;
        color: $color-text-dark;
    }

    @media screen and (max-width: $screen-small) {
        width: 1.5em;
        .site-logo-text {
            display: none;
        }
    }
}
