<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" type="" modules="FastCgiModule" scriptProcessor="D:\PHP\5.4\php-cgi.exe" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="index.cgi" />
                <add value="index.shtml" />
                <add value="index.html" />
                <add value="default.cfm" />
                <add value="Default.aspx" />
                <add value="Default.asp" />
                <add value="default.shtml" />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="_holding.htm" />
                <add value="_holding.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
