$color-light-gray: hsl(0, 0%, 90%);
$color-amber: hsl(40, 100%, 60%);
$color-amber-shadow: hsl(30, 100%, 40%);
$color-teal: hsl(175, 100%, 50%);
$color-pink: hsl(340, 82%, 52%);
$color-purple: hsl(291, 100%, 49%);
$color-black: hsl(0, 0%, 20%);

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);
