$color-light-gray: hsl(0, 0%, 85%);
$color-purple: hsl(278, 70%, 40%);

$color-amber: hsl(25, 90%, 65%);
// $color-teal: hsl(180, 90%, 40%);
$color-teal: hsl(180, 80%, 60%);
$color-violet: hsl(250, 80%, 65%);
$color-pink: #dd3c7a;
$color-black: hsl(0, 0%, 20%);

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);
