$color-light-gray: hsl(0, 0%, 85%);
// $color-teal: hsl(180, 90%, 40%);
$color-purple: hsl(278, 70%, 40%);

$color-amber: hsla(30, 100%, 70%, 1);
$color-teal: hsla(186, 71%, 69%, 1);
$color-violet: hsla(250, 77%, 65%, 1);

$color-lighten: hsla(0, 100%, 100%, 0.3);
$color-darken: hsla(0, 0%, 0%, 0.3);
