// Adapted from https://github.com/posativ/isso/blob/master/isso/css/isso.css
// with modifications.
#isso-thread {
    margin: 0;
    padding: 0;
    font-size: 1rem;

    #isso-root {
        padding-top: 1rem;
        clear: both;
        // padding: 1rem;
        // border-radius: 1rem;

        // background: $color-darken;
        // border: 0.1rem solid black;
    }

    & > h4 {
        opacity: 0.5;
    }

    .isso-postbox {
        margin-top: 1rem;

        .textarea {
            min-height: 4em;
        }

        .auth-section {
            .input-wrapper > input {
                display: block;
                width: 100%;
            }

            .post-action {
                float: right;
                margin: 0 0 1rem 0.5rem;
            }

            @media (min-width: $content-max-width) {
                .input-wrapper {
                    display: inline-block;
                    max-width: 11rem;
                    margin-right: 0.5rem;
                }

                .post-action {
                    margin: 1rem 0 1rem 0.5rem;
                }
            }
        }

        &:not(.preview-mode) {
            .preview, .auth-section p:last-child {
                display: none;
            }
        }
    }

    .isso-comment {
        display: flex;
        margin-top: 1rem;
        clear: both;

        .avatar {
            flex-shrink: 0;
            margin-right: 1rem;

            img, svg {
                width: 2em;
                height: 2rem;
                border-radius: 0.25em;

                @media (min-width: $content-max-width) {
                    width: 3em;
                    height: 3rem;
                }
            }
        }

        .text-wrapper {
            flex-grow: 1;
        }
    }

    .isso-comment-header, .isso-comment-footer {
        a {
            color: gray;
        }

        & > * {
            display: inline-block;
            margin-right: 0.5rem;
        }

        .author {
            color: $color-amber;
        }
    }

    .isso-comment.isso-no-votes .votes {
        display: none;
    }
}
