%control {
    padding: 0.5em 1em;
    font-family: inherit;
    font-size: 1rem;
    line-height: normal;
    text-decoration: none;
    color: $color-light-gray;
    border: 2px solid $color-amber;
    border-radius: 0.25rem;
    transition: all 0.2s ease;

    &::placeholder, &.placeholder {
        opacity: 1;
        color: fade-out($color-light-gray, 0.5);
    }

    &:hover, &:focus {
        text-decoration: none;
        color: $color-light-gray;
        border-color: lighten($color-amber, 10%);
        text-shadow: 0 0 1rem fade-out($color-amber, 0.75);
        box-shadow:
            0 0 1rem 0 fade-out($color-amber, 0.75),
            inset 0 0 1rem 0 fade-out($color-amber, 0.75);
    }
}

input[type="text"], input[type="email"], textarea, [contenteditable] {
    @extend %control;

    max-width: 100%;
    background-color: $color-darken;
}

input[type="button"], input[type="submit"], .button {
    @extend %control;

    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
}
