@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

html {
    // Make sure our background can extend at least to the edge of the viewport.
    min-height: 100%;
}

body {
    margin: 0;

    header {
        @include container(64rem);
        margin-top: 2rem;
        margin-bottom: 6rem;
    }

    main, footer {
        @include container;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

#bio {
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    font-size: 1rem;
    border-top: 2px solid black;

    .bio-image {
        flex-grow: 1;
        margin: 1rem 1rem 0 0;
        width: 5rem;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
        }
    }
}

[float="right"] {
    float: right;
    margin: 1rem 0 1rem 1rem;
}
