$content-max-width: 52rem;
$sidebar-width: 16rem;
$layout-breakpoint: $content-max-width + $sidebar-width;

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

html {
    box-sizing: border-box;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// Page layout
body {
    margin: 0;
    display: grid;
    grid-template-columns: auto fit-content($content-max-width) auto;
    grid-gap: 2rem;
    align-content: stretch;

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    #bio {
        grid-area: sidebar;
    }

    footer {
        grid-area: footer;
    }

    grid-template-areas:
        ".  header  ."
        ".  main    ."
        ".  sidebar ."
        ".  footer  .";

    // Wide two-column layout
    @media (min-width: $layout-breakpoint) {
        grid-template-columns: auto minmax(min-content, $content-max-width) minmax(min-content, $sidebar-width) auto;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            ".  header  header  ."
            ".  main    sidebar ."
            ".  main    footer  .";
    }
}

#bio {
    display: flex;
    flex-direction: column;

    .logo {
        align-self: center;

        img {
            min-width: 6rem;
        }
    }

    a {
        border: none;
    }

    @media (min-width: 400px) and (max-width: $layout-breakpoint) {
        flex-direction: row;

        .logo {
            margin-right: 2rem;
        }
    }
}
