@mixin vertical-margin($factor: 1) {
    margin-top: $line-height * 1rem * $factor;
    margin-bottom: $line-height * 1rem * $factor;

    @include respond-to(large) {
        margin-top: $line-height * 1.125rem * $factor;
        margin-bottom: $line-height * 1.125rem * $factor;
    }
}

@mixin respond-to($media) {
    @if $media == tiny {
        @media only screen and (max-width: 36rem) {
            @content;
        }
    }
    @if $media == small {
        @media only screen and (max-width: 52rem) {
            @content;
        }
    }
    @else if $media == medium {
        @media only screen and (min-width: 52rem) {
            @content;
        }
    }
    @else if $media == large {
        @media only screen and (min-width: 64rem) and (min-height: 43rem) {
            @content;
        }
    }
}

@mixin layout-box {
    padding-left: 1.75rem;
    padding-right: 1.75rem;

    @include respond-to(tiny) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@mixin rounded {
    border-radius: 0.125em;
}

@mixin theme-media-box {
    @include rounded;
    padding: 0.125em 0.3175em;
    background: $color-white-smoke !important;
}

/**
 * A more controlled, fancy underline.
 */
@mixin underline($color: currentColor, $height: 0.0625em) {
    &:not(.no-underline) {
        background: {
            image: linear-gradient($color, $color);
            size: 1px $height;
            position: 0% 85%;
            repeat: repeat-x;
        }
    }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$file-path}.woff') format('woff'),
            url('#{$file-path}.ttf') format('truetype'),
            url('#{$file-path}.svg##{$font-family}') format('svg');
    }
}

@mixin no-collapse {
    border-top: 0.0001px solid transparent;
    border-bottom: 0.0001px solid transparent;
}
