name: main
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - run: docker-compose build
        env:
          TAG: ${{ github.sha }}

      - run: echo "$DOCKER_PASSWORD" | docker login docker.pkg.github.com -u "$DOCKER_USERNAME" --password-stdin
        if: github.ref == 'refs/heads/master'
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - run: docker-compose push
        if: github.ref == 'refs/heads/master'
        env:
          TAG: ${{ github.sha }}

      - run: sed -i s/:latest/:$GITHUB_SHA/ $GITHUB_WORKSPACE/config/deployment.yaml
        if: github.ref == 'refs/heads/master'

      - uses: digitalocean/action-doctl@master
        if: github.ref == 'refs/heads/master'
        env:
          DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
        with:
          args: kubernetes cluster kubeconfig save nyc1 -c $HOME/.kube/config

      - uses: docker://bitnami/kubectl
        if: github.ref == 'refs/heads/master'
        with:
          args: kubectl apply -f $GITHUB_WORKSPACE/config/deployment.yaml
